PORT=5000
NODE_ENV=development
MONGO_URI=mongodb://gaushala-anandotsav:anandotsav2026@ac-vjib621-shard-00-00.ewqeamp.mongodb.net:27017,ac-vjib621-shard-00-01.ewqeamp.mongodb.net:27017,ac-vjib621-shard-00-02.ewqeamp.mongodb.net:27017/?ssl=true&replicaSet=atlas-jgkv02-shard-0&authSource=admin&appName=Cluster0
CORS_ORIGIN=http://localhost:5173,http://localhost:8082
HMAC_SECRET=i0lghDcCpPqSgv4N3yWugKdKCer4od1KKZdAWdTgbGg=
JWT_SECRET=uTeMblgcs3lQPKslaD8PCG72CsxXCJlaLr9Gq0nWjGf
JWT_EXPIRY=8h
ADMIN_USERNAME=admin
ADMIN_PASSWORD_HASH="$2b$10$SHuD8.idJuFPgWPY6xm6ou41y8N7JATgJWjKsihsS3uKyn.5ubfL6"
EVENT_YEAR=2026
